<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Jedis 连接池配置-->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="35"/>
        <property name="maxIdle" value="10"/>
        <property name="minIdle" value="3"/>
        <property name="maxWaitMillis" value="10000"/>
        <property name="numTestsPerEvictionRun" value="1"/>
        <property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="true"/>
        <property name="testWhileIdle" value="true"/>
        <property name="timeBetweenEvictionRunsMillis" value="120000"/>
        <property name="softMinEvictableIdleTimeMillis" value="100000"/>
    </bean>

    <!-- redis sentinel 配置 -->
    <bean id="redisSentinelConfiguration" class="org.springframework.data.redis.connection.RedisSentinelConfiguration">
        <!-- cluster name -->
        <property name="master">
            <bean class="org.springframework.data.redis.connection.RedisNode">
                <property name="name" value="posp" />
            </bean>
        </property>
        <!-- sentinel信息 -->
        <property name="sentinels">
            <set>
                <bean class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg index="0" value="127.0.0.1"/>
                    <constructor-arg index="1" value="26379"/>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg index="0" value="127.0.0.1"/>
                    <constructor-arg index="1" value="26379"/>
                </bean>
            </set>
        </property>
    </bean>

    <!-- 连接工厂配置 -->
    <bean id="jedisConnFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">

        <!-- redis sentinel配置 -->
        <constructor-arg ref="redisSentinelConfiguration"/>
        <!-- jedis 连接池配置 -->
        <constructor-arg ref="jedisPoolConfig" />
    </bean>

    <!-- 数据模板配置 -->
    <bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="jedisConnFactory"/>
    </bean>
</beans>