<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd
   http://www.springframework.org/schema/mvc
   http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">
    <!-- 启用shrio授权注解拦截方式 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- 装配 securityManager -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 配置登陆页面 -->
        <property name="loginUrl" value="/html/oa_new/login.html"/>
        <!-- 登陆成功后的一面 -->
        <property name="successUrl" value="/html/oa_new/success.html"/>
        <!--<span style="white-space:pre">    </span>-->
        <property name="unauthorizedUrl" value="/html/oa_new/unauthorized.html"/>
        <!-- 具体配置需要拦截哪些 URL, 以及访问对应的 URL 时使用 Shiro 的什么 Filter 进行拦截.  -->
        <property name="filterChainDefinitions">
            <value>
                <!--anon:不需要登录状态-->
                <!--authc:需要是登录状态-->
                /html/oa_new/login.html=anon
                /html/oa_new/success.html=authc
                <!--/login/logout = logout-->
                <!--/user/**=authc-->
                <!--/detail/**=authc-->
            </value>
        </property>
    </bean>

    <!-- 配置缓存管理器 -->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <!-- 指定 ehcache 的配置文件 -->
        <property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml"/>
    </bean>
    <!-- 配置进行授权和认证的 Realm -->
    <bean id="myRealm" class="com.neusoft.smis.service.shiro.ShiroDbRealm">
        <property name="userService" ref="userService" />
    </bean>
    <bean id="userService" class="com.neusoft.smis.service.user_manage_service.impl.UserServiceImpl" />
    <!-- 配置 Shiro 的 SecurityManager Bean. -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="cacheManager" ref="cacheManager"/>
        <property name="realm" ref="myRealm"/>
        <property name="sessionMode" value="native">
        </property>
    </bean>
    <!-- 配置 Bean 后置处理器: 会自动的调用和 Spring 整合后各个组件的生命周期方法. -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!--使用注解的方式开启代码-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
    <!--<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">-->
        <!--<property name="exceptionMappings">-->
            <!--<props>-->
                <!--&lt;!&ndash;登录&ndash;&gt;-->
                <!--<prop key="org.apache.shiro.authz.UnauthenticatedException">-->
                    <!--redirect:/html/oa_new/login.html-->
                <!--</prop>-->
                <!--&lt;!&ndash;授权&ndash;&gt;-->
                <!--<prop key="org.apache.shiro.authz.UnauthorizedException">-->
                    <!--&lt;!&ndash;redirect:/admin/common/exceptionLog&ndash;&gt;-->
                <!--</prop>-->
            <!--</props>-->
        <!--</property>-->
        <!--<property name="defaultErrorView" value="/html/oa_new/500.html"/>-->
    <!--</bean>-->



</beans>