#searchbox-container {
    position: relative;
    z-index: 2;
    pointer-events: auto;
    width: 400px;
    height: 38px;
    float: left;
    box-sizing: border-box;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);

}
.searchbox-content {
    width: 330px;
    height: 38px;
    border-radius: 2px 0 0 2px;
    background: #fff;
}
#search_input {
    box-sizing: border-box;
    border: 0;
    padding: 9px 0;
    border-left: 10px solid transparent;
    border-right: 27px solid transparent;
    line-height: 20px;
    font-size: 16px;
    height: 38px;
    color: #333;
    position: relative;
    border-radius: 2px 0 0 2px;
    float: left;
    width: 300px;
    outline:medium;
}
.div_clear {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 38px;
    top: 0;
    background: url(../img/div_clear.png) no-repeat 2px 8px  #fff;
    background-size:22px 22px;
    right: 70px;
}

.search_button{
    pointer-events: auto;
    background: url(../img/search_button.png) no-repeat 25px 8px #3385ff;
    background-size: 25px 25px;
    width: 70px;
    height: 38px;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    position: relative;
    top:-38px;
    /*right:0px;*/
}
.search_button:hover{
    background-color: #2e77e5;
}
.num{
    position:absolute;
    background-color:rgb(0, 167, 91);

    border-bottom-color:rgb(0, 167, 91);

    border-bottom-left-radius:2px;

    border-bottom-right-radius:2px;

    border-bottom-style:solid;

    border-bottom-width:1px;

    border-image-outset:0px;


    border-image-repeat:stretch;

    border-image-slice:100%;

    border-image-source:none;


    border-image-width:1;

    border-left-color:rgb(0, 167, 91);


    border-left-style:solid;


    border-left-width:1px;

    border-right-color:rgb(0, 167, 91);

    border-right-style:solid;

    border-right-width:1px;

    border-top-color:rgb(0, 167, 91);

    border-top-left-radius:2px;

    border-top-right-radius:2px;

    border-top-style:solid;

    border-top-width:1px;

    color:rgb(255, 255, 255);

    cursor:pointer;

    display:inline-block;

    font-family:"Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", 微软雅黑, "Segoe UI", Tahoma, "宋体b8b\4 f53", SimSun, sans-serif;

    font-size:12px;

    font-style:normal;

    font-variant:normal;

    font-weight:normal;

    height:24px;

    line-height:24px;

    min-width:40px;

    padding-bottom:0px;

    padding-left:3px;

    padding-right:3px;

    padding-top:0px;

    text-align:center;

    transition-delay:0s;

    transition-duration:0.15s;

    transition-property:all;

    transition-timing-function:ease-in-out;

    white-space:nowrap;

    width:180px;

    -webkit-font-smoothing:antialiased;

    -webkit-user-select:none;


}
.arrow_up{
    position: absolute;
    border: 6px solid transparent;
    border-top-color: #00a75b;
    border-top-width: 8px;
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
    left:90px;
    /*right:0;*/
    top:24px;
    /*bottom:0;*/
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.arrow_up_bangong{
    position: absolute;
    border: 6px solid transparent;
    border-top-color: #828282;
    border-top-width: 8px;
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
    left:90px;
    /*right:0;*/
    top:24px;
    /*bottom:0;*/
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.arrow_up_shangye{
    position: absolute;
    border: 6px solid transparent;
    border-top-color: #EE5D5B;
    border-top-width: 8px;
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
    left:90px;
    /*right:0;*/
    top:24px;
    /*bottom:0;*/
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.arrow_up_other{
    position: absolute;
    border: 6px solid transparent;
    border-top-color: #FF8C00;
    border-top-width: 8px;
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
    left:90px;
    /*right:0;*/
    top:24px;
    /*bottom:0;*/
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.div_lianjia{
    position: absolute;
    /*background-size: 60px 60px;*/
    width: 70px;
    height: 70px;
    left:-20px;
    top:-70px;

}
.div_lianjia_img{
    background:url("../img/lianjia.jpg");
    background-size: 60px auto;
    border: 0px;
    border-radius: 5px;
    width:60px;
    height:60px;
}
.div_fangtianxia{
    position: absolute;
    /*background:url(../img/fang_tian_xia.jpg) no-repeat 0px 0px;*/
    /*background-size: 60px 60px;*/
    width: 70px;
    height: 70px;
    left:60px;
    top:-70px;

}
.div_fangtianxia_img{
    background:url("../img/fang_tian_xia.jpg");
    background-size: 60px auto;
    border: 0px;
    border-radius: 5px;
    width:60px;
    height:60px;
}
.div_anjuke{
    position: absolute;
    /*background:url(../img/fang_tian_xia.jpg) no-repeat 0px 0px;*/
    /*background-size: 60px 60px;*/
    width: 70px;
    height: 70px;
    left:140px;
    top:-70px;

}
.div_anjuke_img{
    background:url("../img/anjuke.jpg");
    background-size: 60px auto;
    border: 0px;
    border-radius: 5px;
    width:60px;
    height:60px;
}